body{
background-color: black;
    color: aqua;
}
table {
    position: relative;
    left: 30%;
    background-color: #E91E63;
}
h3{
    position: relative;
    left: 30%; 
}
h1{
    position: relative;
    left: 20%; 
}
button{
    background-color: aqua;
    border-radius: 20px;
}
input
{
    color: fuchsia;
}