
@media screen and (max-width:375px) and (max-height:667px)
{
            section.flex-container
            {
             flex-direction: column;
            }
            section.flex-container div {
                width: 100vw;
                background-color: aquamarine;
            } 
            #myphoto {
                flex-direction:column ;
                position: absolute;
                
                border-radius: 90px;
                opacity: 0.8;
                top: 50px;
            }
        }#firstdiv
        {
          background-color: rgb(192, 175, 23);  
          height: 1800px;
          width: 1200px;
          border: 20px;
        }
        #myphoto {
    position: absolute;
    left: 700px;
    border-radius: 90px;
    opacity: 0.8;
    top: 50px;
}
      
        #myname {
    position: absolute;
    top: 100px;
    font-family: emoji;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2c47dd;
    left: 302px;
    text-decoration: underline;
    font-style: italic;
}
#myinfo {
    position: absolute;
    top: 170px;
    left: 350px;
    color: blue;
}
#mypara {
    position: absolute;
    top: 190px;
    left: 310px;
    color: rgb(1 1 16);
}
#myprojects {
    position: absolute;
    top: 300px;
    left: 100px;
    background-color: #bcbce5;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
}
#firstproject
{
    position: absolute;
    top: 355px;
    left: 70px;
    display:inline-block;
}
#skillslist
{
    position: absolute;
    top: 355px;
    left: 340px;
}



#skills {
    position: absolute;
    bottom: 50px;
    left: 270px;
    background-color: #bcbce5;
    height: 30px;
    text-align: center;
    width: 75px;
    border-radius: 20px;

}
#contacts {
    position: absolute;
    bottom: 50px;
    left: 470px;
    background-color: #bcbce5;
    height: 10px;
    width: 75px;
    border-radius: 20px;
    text-align: center;
}
  #contactslist
  {
    position: absolute;
    bottom: 10px;
    left: 520px;
  }
  #myprojects
  {
    display:inline;
  } 
  section.flex-container {
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /*background-color: #7fe5c3;*/
    align-items: flex-start;
    justify-content: center;
    top: 400px;
}
section div img {
    height: 35vh;
    width: 35vw;
    position: relative;
    left: 20px;
    border-radius: 10%;
}
section div h2 {
    background-color: #94ede5;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #3F51B5;
    border-radius: 20px;
}



body{
   
        background-color: #8ccfc9
}

#myfirstdiv
{

}
#formdiv
{
    position: relative;
    top: 400px;
    left: 550px;
    border-color: #3F51B5;
}
    #name
    {
        background-color: #8ccfc9;
        position: relative;
        left: 20px;
    } 
    #email
    {background-color: #8ccfc9;
    position: relative;
left: 20px;}  
#text {
    background-color: #8ccfc9;
    position: relative;
    left: 2px;
}
     div form h2 {
    background-color: #94ede5;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #3F51B5;
    border-radius: 20px;
    width: 400px;
}
#lab1{background-color: #94ede5;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #3F51B5;
    border-radius: 20px;
    width: 400px;}
#lab2{background-color: #94ede5;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #3F51B5;
    border-radius: 20px;
    width: 400px;}
#lab3{background-color: #94ede5;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #3F51B5;
    border-radius: 20px;
    width: 400px;}
    #buttonid
    {
        background-color: #94ede5;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #3F51B5;
    border-radius: 20px;
    width: 80px;
    }
    #footerid {
    position: relative;
    top: 400px;
}